*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 50px;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
}
.logo{
    height: 48px;
    padding: 2px 10px;
}

.carousel-item{
    height: 450px;
} 

.carousel-inner .carousel-item img{
    min-height:200px;
    object-fit:cover
    }
.space{
    height: 50px;
}
.ques-text h1{
    text-align: center;
}
nav .navbar-nav li a{
    color: white !important;
    }
nav .navbar-brand {
    color: white !important;
}
ul{
    list-style-type: none;
}
.jumbotron {
    margin-bottom: 0px;
 }
.caru{
    height: 450px;
}
.carousel-item img{
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.jumbotron{
   
    background-size: cover;
    height: 100%;
    background-color : black !important ;
    
}


